# Ignore images
*.jpeg
*.gif
*.svg

# Ignore VS Code temporary files
.vscode/

# Ignore other temporary and system files
.DS_Store
Thumbs.db

# Ignore cache files
*.cache

# Ignore the optional images folder
Optional Images/