/* Style variables ================================================ */
:root {
    --primary-text: #000; /* Main text color */
    --secundary-text: #fff; /* White color in RGB */
    --primary-background: #fff;
    --secundary-background: #333;
    --link-text: #333; /* Link color */
    --link-hover-color: #1d4ed8; /* Link color on hover */
    --divider-color: #b8860b; /* Color for dividers */
    --general-background: #f0f0f0; /* General site background */
    --contact-background: #c0202d;
    --blue-card: #d9edf8; /* Background card */
    --blue-button: #201c65; /* Background button */
    --green-card: #ccf9d5; /* Background card */
    --green-button: #18a46f; /* Background button */
    --violet-card: #fbecf9; /* Background card */
    --violet-button: #aa1994; /* Background button */
    --red-card: #fef1f0; /* Background card */
    --red-button: #f55700; /* Background button */
}

/* Header styles ================================================ */
header {
    background: url("images/backgroundImageIndex.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh; /* This value adjusts according to the space you want to occupy. */
    position: relative;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
}

/* Navigation container ================================================ */
.nav-container {
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

@media (max-width: 768px) {
    .nav-container {
        position: static; /* Change from fixed to static on small screens */
    }
}

/* Logo container ================================================ */
.logo-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-background);
    height: 60px;
}

.logo {
    height: 200px;
    width: auto;
    margin: 22px 20px 0 10px; /* First parameter move the logo to the bottom */
}

/* Menu container ================================================ */
.menu-section {
    flex: 2;
    display: flex;
    justify-content: center;
    background-color: var(--primary-background);
    align-items: center;
}

.menu-section ul {
    list-style-type: none;
    display: flex;
    gap: 75px;
    margin: -35px 0 20px; /* First parameter move the menu to the bottom */
}

.menu-section ul li a {
    color: var(--link-text);
    text-decoration: none;
    font-size: 1.1em;
}

.menu-section ul li a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Contact container ================================================ */
.contact-section {
    flex: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--contact-background);
    height: 75px;
    padding: 0 5px;
    margin: -75px 0 -50px 1100px;
}

.contact-link {
    color: var(--secundary-text);
    padding: 15px 40px;
    text-decoration: none;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Move the contact word to the bottom */
}

.contact-link:hover {
    text-decoration: underline;
}

/* Welcome Section ================================================ */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 3;
    font-size: 1em;
    font-weight: bold;
}

.text-overlay h1 {
    font-family: Arial, sans-serif;
    font-size: 3em;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.text-overlay h1::after {
    content: '|';
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
    animation: blink 1s step-start infinite;
    font-size: 1.2em; /* Adjust the cursor size */
    line-height: 1.2; /* Adjust the cursor height */
    vertical-align: bottom;
}  

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Global Styles ================================================ */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px; /* Adjust this value according to the header size */
}

/* Body Styles ================================================ */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--primary-text);
    background-color: var(--general-background); /* General site background */
}

/* Home Section ================================================ */
#home h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.home-text{
    display: flex;
    justify-content: space-between; /* Spacing between cards */
    gap: 10px; /* Separation between cards */
    flex-wrap: wrap; /* Allow the cards to break onto a new line on smaller screens */
}

.card {
    padding: 10px;
    border-radius: 10px; /* Rounded borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
    transition: transform 0.2s ease; /* Hover animation */
    flex: 1; /* Make the cards take up flexible space */
    min-width: 250px; /* Minimum card width */
    max-width: 400px; /* Maximum card width */
    text-align: left; /* Center the text within the card */
}

.blue-card {
    background-color: var(--blue-card);
}

.green-card {
    background-color: var(--green-card);
}

.violet-card {
    background-color: var(--violet-card);
}

.red-card {
    background-color: var(--red-card);
}

.card:hover {
    transform: translateY(-10px); /* Elevation effect */
}

.card-button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

.blue-button {
    background-color: var(--blue-button);
}

.green-button {
    background-color: var(--green-button);
}

.violet-button {
    background-color: var(--violet-button);
}

.red-button {
    background-color: var(--red-button);
}

.card-button:hover {
    background-color: #555;
}

@media (max-width: 768px) { /* Media query for small screens */
    .card-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }
}

.card p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

/* Projects Section ================================================ */
#projects h2 {
    font-size: 2em;
    margin: 15px;
}

.scroll-container {
    display: flex;
    align-items: center; /* Vertically align the buttons and the container */
    position: relative; /* Necessary for positioning the buttons absolutely */
    overflow: hidden; /* Hide the overflow content */
}

.projects-container {
    display: flex;
    gap: 20px;
    overflow-x: scroll; /* Horizontal scrolling */
    scrollbar-width: none;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.projects-container::-webkit-scrollbar {
    display: none; /* For WebKit-based browsers like Chrome and Safari */
}

.scroll-btn {
    position: absolute;
    top: 50%; /* Vertical center */
    transform: translateY(-50%); /* Fine-tuning for centering */
    font-size: 2rem; /* Symbol size */
    background-color: rgba(0, 0, 0, 0.4); /* Semitransparent background */
    color: white; /* Symbol color */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 20; /* Ensure it is above the cards */
}

.left-btn {
    left: 5px; /* Left button on the edge */
}

.right-btn {
    right: 5px; /* right button on the edge */
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darken the background on hover */
}

.project-card {
    position: relative;
    min-width: 200px;
    max-width: 400px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 56px 60px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
    margin: 5px 20px;
}

.blue-project {
    background-color: var(--blue-card);
}

.green-project {
    background-color: var(--green-card);
}

.violet-project {
    background-color: var(--violet-card);
}

.red-project {
    background-color: var(--red-card);
}

.project-card h3 {
    text-decoration: underline;
    color: var(--primary-text);
}

.project-card p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
    color: var(--primary-text);
}

.project-card:hover {
    transform: rotate(1deg) scale(1.05) translateX(50px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 10; /* For the active card to be on top */
}

.project-card:nth-child(n+2) {
    margin-left: -150px; /* Partially overlay the cards */
}

.project-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
}

.blue-projects-button {
    background-color: var(--blue-button);
}

.green-projects-button {
    background-color: var(--green-button);
}

.violet-projects-button {
    background-color: var(--violet-button);
}

.red-projects-button {
    background-color: var(--red-button);
}

.project-button:hover {
    background-color: #555;
}

/* About Section ================================================ */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#about {
    padding: 60px 20px;
    background-color: rgba(white, 0.9); /* White background with a bit of transparency */
    text-align: center;
    border-radius: 10px; /* Add a rounded border */
}

#about h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
}

/* Contact Section ================================================ */
#contact h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

#contact p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.icon {
    width: 24px;  /* Adjust the icon size */
    height: auto;
    margin-right: 4px;  /* Space between the icon and the text */
}

/* Main Container Style ================================================ */
.container {
    background: rgba(black, 0.7); /* Container background */
    padding: 10px;
    border-radius: 10px;
    max-width: 800px;
    margin: 1px auto -50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(black, 0.1);
}

/* Section divider ================================================ */
.section-divider {
    background-color: var(--divider-color);
    height: 4px;
    width: 80%;
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 2px;
}

/* Footer Section ================================================ */
footer {
    background-color: var(--secundary-background);
    color: var(--secundary-text);
    padding: 10px 0;
    text-align: left;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer-section ul {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 8px 0;
}

.footer-bottom {
    padding: 10px 0;
    margin: 0 10px;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
    }
}

/* Mobile Optimization (max-width: 768px) */
@media (max-width: 768px) {
    /* Header adjustment */
    header {
        height: 50vh; /* Reduce the header size on mobile devices */
    }
    
    /* Logo adjustment */
    .logo {
        height: 100px; /* Reduce the logo size on mobile devices */
        margin: 10px auto; /* Center the logo */
    }

    /* Navigation bar adjustment */
    .menu-section ul {
        flex-direction: column; /* Place the navigation bar elements in a column */
        gap: 20px; /* Space between elements */
        margin: 0; /* Adjust the margin to center the bar */
    }

    /* Project container */
    .projects-container {
        overflow-x: auto; /* Keep horizontal scrolling on mobile devices */
        padding: 0 10px; /* Add some padding to avoid edge clipping */
    }

    /* Adjustment in project cards */
    .project-card {
        min-width: 90%; /* Occupy almost the entire screen on mobile devices */
        max-width: 90%;
        margin: 10px auto; /* Center the cards */
    }

    /* Welcome section */
    .text-overlay h1 {
        font-size: 1.5em; /* Reduce the welcome text size on mobile devices */
    }

    /* Contact container */
    .contact-section {
        height: auto;
        margin: 0;
        padding: 10px; /* Padding adjustment for centering */
        text-align: center;
    }

    .contact-link {
        padding: 10px 20px; /* Adjust the spacing for better appearance on mobile devices */
        font-size: 1em;
    }

    /* Adjustments to the cards */
    .home-text {
        gap: 5px; /* Less spacing between cards */
        flex-direction: column; /* Stack the cards vertically */
    }

    .card {
        min-width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    /* General container adjustment */
    .container {
        max-width: 90%;
        margin: 10px auto; /* Adjust to center on mobile devices */
    }
}