/* ===============================
   Style variables
   ===============================*/
:root {
    --background-color: #1e293b; /* Page background */
    --header-color: #ffffff; /* Background color of the header and navigation menu */
    --text-color: #333; /* Main text color */
    --primary-color: #ffd700; /* Golden color for titles */
    --link-color: #333; /* Link color */
    --link-hover-color: #1d4ed8; /* Link color on hover */
    --accent-color: #10b981; /* Accent color for buttons or highlighted elements */
    --divider-color: #b8860b; /* Color for dividers */
    --black-rgb: 0, 0, 0; /* Black color in RGB */
    --white-rgb: 255, 255, 255; /* White color in RGB */
    --general-background: #f0f0f0; /* General site background */
}

/* ===============================
   Header and Navigation
   ===============================*/

/* Header styles */
header {
    background: url(backgroundImage1.jpg) no-repeat center center;
    background-size: cover;
    height: 120vh; /*This value adjusts according to the space you want to occupy.*/
    position: relative;
    z-index: 1;
}

/* Navigation Panel */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--header-color); /* Navigation panel background */
    color: var(--text-color); /* Menu text color */
    box-shadow: 0 2px 4px rgba(var(--black-rgb), 0.4);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 30px; /* Increase panel thickness */
    z-index: 1000;
    height: 60px;
}
/* Logo styles */
nav a img.logo{
    height: 200px;
    width: auto;
    margin-right: 2px;
    margin-top: 10px; /* Move the logo to the bottom */
}

/* Navigation menu styles */
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0 120px; /* Move the navigation menu to the right */
    padding: 0;
}

nav ul li {
    margin: 0 20px; /* Space out the menu items */
}

nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* ===============================
   Global Styles
   ===============================*/

html {
    scroll-behavior: smooth;
}

/* ===============================
   Body Styles
   ===============================*/

/* Background */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--general-background); /* General site background */
}

/* ===============================
   About Section
   ===============================*/

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#about {
    padding: 60px 20px;
    background-color: rgba(var(--white-rgb), 0.9); /* White background with a bit of transparency */
    text-align: center;
    border-radius: 10px; /* Add a rounded border */
}

#about h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

#about p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

/* Main Container Style */
.container {
    background: rgba(var(--black-rgb), 0.7); /* Container background */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto -50px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(var(--black-rgb), 0.1);
}

/* ===============================
   Section Styles
   ===============================*/

/* ===============================
   Divider Styles
   ===============================*/

/* Section divider */
.section-divider {
    background-color: var(--divider-color);
    height: 4px;
    width: 80%;
    margin: 20px auto;
    border-radius: 2px;
}

/* ===============================
   Footer
   ===============================*/

/* Estilos del footer */