/* Variables ======================================= */
:root {
    --primary-background: #fff; /* General background */
    --primary-text: #000;
    --secondary-text: #fff;
    --description-text: #555;
    --link-text: #333; /* Link color */
    --link-hover-color: #1d4ed8; /* Link color on hover */    
    --contact-background: #c0202d;
    --border-color: #ddd;
}
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-text);
}
/* Top header ======= */
.top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: var(--primary-background);
    border-bottom: 1px solid var(--border-color);
}
/* > Logo container ============================ */
.logo-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 80px;
}
/* >-> Logo ================================================== */
.logo {
    height: 200px;
    width: 188px;
    transform: translateY(6px);
}
/* > Search bar =========================== */
.search-bar {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* >-> Search bar input =============================== */
.search-bar input {
    width: 750px;
    height: 25px;
    border: 3px solid var(--border-color);
    border-radius: 10px;
}
/* > Contact section ======================= */
.contact-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contact-background);
    height: 80px;
}
/* >-> Contact section ============================ */
.contact-link {
    font-size: 1.1em;
    text-decoration: none;
    color: var(--secondary-text);
}
.contact-link:hover {
    text-decoration: underline;
}
/* Left vertical navigation bar === */
.vertical-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0;
    top: 81px; /* Adjusted after the header */
    width: 180px;
    height: calc(100% - 80px);
    background-color: var(--primary-background);
    border-right: 1px solid var(--border-color);
}
/* > Nav menu =========================================== */
.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    gap: 25px;
}
/* >-> li =============================================================== */
.nav-menu li {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* >->-> li a ===================================================================== */
.nav-menu li a {
    color: var(--link-text);
    text-decoration: none;
    font-size: 1.1em;
    text-align: left;
}
/* >->-> li a ========================================================================= */
.nav-menu li a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}

/* Main content container for the blog ========================== */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; /* This value adjusts according to the height of the fixed header */
}
.main-container {
    margin-top: 60px;
    margin-right: 220px; /* Leaves space for the right navigation bar with 220px */
    margin-left: 200px; /* Leaves space for the left navigation bar with 220px */
    padding: 20px 20px;
    /*border: 1px solid red;*/
}
/* > Styles for the article preview link ===== */
.blog-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    text-align: center;
}
.blog-preview:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
/* >-> Blog link ========================================================= */
.blog-link {
    text-decoration: none;
    color: inherit;
}
.blog-link:hover {
    text-decoration: underline;
}
.blog-preview h2 {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0 10px;
}
/* >-> Blog cover image ================================================== */
.blog-cover-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* >-> Blog preview p ==================================================== */
.blog-preview p {
    font-size: 1em;
    padding: 0 10px 10px;
    color: var(--description-text);
    text-align: justify;
}

/* Right vertical news bar ==== */
.news-section {
    position: fixed;
    top: 81px;
    right: 0;
    width: 275px;
    height: calc(100% - 60px);
    overflow-y: auto; /* Allows scrolling if there are many news items */
    border-left: 1px solid var(--border-color);
}
.news-section h2 {    
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}
/* > News item =================== */
.news-item {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
/* >-> News item image ========================== */
.news-item img {
    width: 100%; /* Image occupies the entire width of the card */
    border-radius: 5px;
}
/* >-> News item p =============================== */
.news-item p {
    margin-top: 8px;
    font-size: 1em;
    text-align: left;
}

/* Media Queries for small screens ============================== */
@media (max-width: 768px) {
    /* Top header on mobile devices */
    .top-header {
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        width: 100%;
        margin-bottom: 10px;
    }

    /* Hides sidebars on small screens */
    .vertical-nav, .news-section {
        display: none;
    }

    /* The main content occupies the full width */
    .main-container {
        margin: 0;
        padding: 10px;
    }
}