/* Style variables ================================================ */
:root {
    --primary-text: #000; /* Main text color */
    --secondary-text: #fff; /* White color in RGB */
    --primary-background: #f0f0f0;
    --link-text: #333; /* Link color */
    --link-hover-color: #1d4ed8; /* Link color on hover */
    --contact-background: #c0202d;
    --blue-card: #d9edf8; /* Background card */
    --blue-button: #201c65; /* Background button */
    --green-card: #ccf9d5; /* Background card */
    --green-button: #18a46f; /* Background button */
    --violet-card: #fbecf9; /* Background card */
    --violet-button: #aa1994; /* Background button */
    --red-card: #fef1f0; /* Background card */
    --red-button: #f55700; /* Background button */
}

/* Body Styles ================================================ */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--primary-text);
    background-color: var(--primary-background); /* General site background */
}

/* Header container = */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* > Nav container =================== */
.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    background-color: var(--primary-background);
}
/* >-> Logo container ============================ */
.logo-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 80px;
}
/* >->-> Logo ================================================== */
.logo {
    height: 200px;
    width: 188px;
    transform: translateY(6px);
}
/* >-> Menu section ============================= */
.menu-section {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
/* >->-> ul ======================================================== */
.menu-section ul {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
/* >->->-> ul li =================================================================== */
.menu-section ul li {
    flex: 1;
    list-style-type: none;
    text-align: center;
}
/* >->->->-> ul li a =========================================================================== */
.menu-section ul li a {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--link-text);
}
.menu-section ul li a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}
/* >-> Contact section ============================= */
.contact-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contact-background);
    height: 80px;
}
/* >->-> Contact link ========================================== */
.contact-link {
    font-size: 1.1em;
    text-decoration: none;
    color: var(--secondary-text);
}
.contact-link:hover {
    text-decoration: underline;
}
/* Left vertical navigation bar === */
.vertical-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    left: 0;
    top: 81px; /* Adjusted after the header */
    width: 180px;
    height: calc(100% - 80px);
    background-color: var(--primary-background);
    border-right: 1px solid var(--border-color);
}
/* > Nav menu =========================================== */
.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    gap: 35px;
}
/* >-> ul =============================================================== */
.nav-menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* >-> ul li =============================================================== */
.nav-menu ul li {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* >->-> ul li a ===================================================================== */
.link-cv {
    color: var(--link-text);
    text-decoration: none;
    font-size: 1.1em;
    text-align: left;
}
.link-cv:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}
/* Main content container for the curriculum vitae ========================== */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; /* This value adjusts according to the height of the fixed header */
}
.main-container {
    margin-top: 60px;
    margin-right: 220px; /* Leaves space for the right navigation bar with 220px */
    margin-left: 200px; /* Leaves space for the left navigation bar with 220px */
    padding: 20px 20px;
}
/* > Styles for the curriculum vitae preview link ===== */
.cv-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 20px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-color: #f5f5f5;    
}
.cv-preview:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
/* >-> Blog link ========================================================= */
.blog-link {
    text-decoration: none;
    color: inherit;
}
.blog-link:hover {
    text-decoration: underline;
}
.cv-preview h3 {
    font-size: 1.5em;
    margin: 10px 0;
    padding: 0 10px;
    text-decoration: underline;
    font-weight: bold;
}
/* >-> Blog cover image ================================================== */
.blog-cover-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* >-> Curriculum vitae preview p ==================================================== */
.cv-preview p {
    font-size: 1em;
    padding: 0 10px 10px;
    color: var(--description-text);
    text-align: justify;
}
/* ============================= RIGHT VERTICAL CURRICULUM VITAE BAR ==================================== */
.personal-information-section {
    position: fixed;
    top: 81px;
    right: 0;
    width: 275px;
    height: calc(100% - 60px);
    overflow-y: auto; /* Allows scrolling if there are many news items */
}
.personal-information-section h2 {
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
}
/* > Personal information item =================== */
.personal-information-item {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
/* >-> Personal information item image ========================== */
.personal-information-item img {
    width: 100%; /* Image occupies the entire width of the card */
    border-radius: 5px;
}
/* >-> Personal information item p =============================== */
.personal-information-item p {
    margin-top: 8px;
    font-size: 1em;
    text-align: center;
}
.personal-information-link {
    color: var(--link-text);
    text-decoration: none;
    font-size: 1.1em;
    text-align: left;
}
.personal-information-link:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}