/* Style variables ================================================ */
:root {
    --primary-text: #000; /* Main text color */
    --secundary-text: #fff; /* White color in RGB */
    --primary-background: #fff;
    --secundary-background: #333;
    --link-text: #333; /* Link color */
    --link-hover-color: #1d4ed8; /* Link color on hover */
    --divider-color: #b8860b; /* Color for dividers */
    --general-background: #f0f0f0; /* General site background */
    --contact-background: #c0202d;
    --blue-card: #d9edf8; /* Background card */
    --blue-button: #201c65; /* Background button */
    --green-card: #ccf9d5; /* Background card */
    --green-button: #18a46f; /* Background button */
    --violet-card: #fbecf9; /* Background card */
    --violet-button: #aa1994; /* Background button */
    --red-card: #fef1f0; /* Background card */
    --red-button: #f55700; /* Background button */
}

/* Header container ============================== */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
/* > Nav container =================================================== */
.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    height: 80px;
}
/* >-> Logo container ========================================================== */
.logo-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    border: 1px solid blue;
}
/* >->-> Logo ================================================== */
.logo {
    height: 200px;
    width: 188px;
    transform: translateY(6px);
    border: 1px solid red;
}
/* >-> Menu section ========================================== */
.menu-section {
    flex: 6;
    justify-content: center;
    align-items: center;
    border: 1px solid yellow;
}
/* >-> ul ==================================================== */
.menu-section ul {
    display: flex;
    border: 1px solid red;
    padding: 0 20px;
}
/* >->-> ul li ================================================ */
.menu-section ul li {
    flex: 1;
    list-style-type: none;
    border: 2px solid blue;
    text-align: center;
}
/* >->->-> ul li a ============================================= */
.menu-section ul li a {
    text-decoration: none;
    font-size: 1.1em;
}
/* > Contact section ======================================== */
.contact-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contact-background);
}
/* >-> Contact link ========================================== */
.contact-link {
    border: 1px solid red;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}